<section class="pure-g-r">
  <article class="pure-u-1 l-centered lidar">
    <lidar-map></lidar-map>
  </article>

  <article class="pure-u-1-2">
    <div class="l-box">
      <h3>Battery Stats</h3>
      <p>Battery stats to go here...</p>
    </div>
  </article>

  <article class="pure-u-1-2">
    <div class="l-box">
      <h3>Motor controller values</h3>
      <p>Motor controller values to go here...</p>
    </div>
  </article>

  <article class="pure-u-1-2">
    <div class="l-box">
      <h3>Something else</h3>
      <p>...</p>
    </div>
  </article>

  <article class="pure-u-1-2">
    <div class="l-box">
      <h3>Something else</h3>
      <p>...</p>
    </div>
  </article>

  <article class="pure-u-1-2">
    <div class="l-box">
      <h3>Something else</h3>
      <p>...</p>
    </div>
  </article>

  <article class="pure-u-1-2">
    <div class="l-box">
      <h3>Something else</h3>
      <p>...</p>
    </div>
  </article>
</section>
