<section class="pure-g-r lidar">
  <article class="pure-u-1 l-centered">
    <lidar-map data-lidar-data="lidarData"></lidar-map>
  </article>
</section>

<section class="pure-g-r stats">
  <article class="pure-u-1-2">
    <div class="l-box">
      <i class="ion-battery-empty"></i>
      <h3>Battery</h3>
      <aside>
        <p>Battery stats...</p>
      </aside>
    </div>
  </article>

  <article class="pure-u-1-2">
    <div class="l-box">
      <i class="ion-ios7-speedometer-outline"></i>
      <h3>Motor controllers</h3>
      <aside>
        <p>Motor controller stats...</p>
      </aside>
    </div>
  </article>

  <!-- <article class="pure-u-1-2"> -->
  <!--   <div class="l-box"> -->
  <!--     <h3>Temperatures</h3> -->
  <!--     <aside> -->
  <!--       <p>Battery stats to go here...</p> -->
  <!--     </aside> -->
  <!--   </div> -->
  <!-- </article> -->

  <!-- <article class="pure-u-1-2"> -->
  <!--   <div class="l-box"> -->
  <!--     <h3>Something else</h3> -->
  <!--     <aside> -->
  <!--       <p>Battery stats to go here...</p> -->
  <!--     </aside> -->
  <!--   </div> -->
  <!-- </article> -->

  <!-- <article class="pure-u-1-2"> -->
  <!--   <div class="l-box"> -->
  <!--     <h3>Something else</h3> -->
  <!--     <aside> -->
  <!--       <p>Battery stats to go here...</p> -->
  <!--     </aside> -->
  <!--   </div> -->
  <!-- </article> -->

  <!-- <article class="pure-u-1-2"> -->
  <!--   <div class="l-box"> -->
  <!--     <h3>Something else</h3> -->
  <!--     <aside> -->
  <!--       <p>Battery stats to go here...</p> -->
  <!--     </aside> -->
  <!--   </div> -->
  <!-- </article> -->
</section>
