header.header {
  text-align:center;
  border-bottom:1px dotted #ccc;
}
.pure-menu {
  padding:1em 0;
}
.pure-menu.pure-menu-horizontal > .pure-menu-heading {
  letter-spacing:2px;
  padding:10px 20px 10px 15px;
  background:transparent url('/images/isotope_rings_small.png') no-repeat 0 50%;
}
