lidar-map {
  display:block;
  text-align:center;
  margin:0 auto;
  h4 {
    color: rgba(shade($heading-color, 30), .7);
    font-weight:normal;
    margin:0;
    @include text-shadow(0 0 1px $heading-color,  0 1px 1px rgba(255,255,255,.2));
    font-size:1.4em;
  }
  figure {
    margin-top:-2em;
    svg {
      max-width:500px !important;
      max-height:500px !important;
    }
  }
}

polygon.lidar-mapper-series-0 {
  fill: rgba(255,255,255, .3) !important;
  stroke: rgba(255,255,255, .5) !important;
}

circle.lidar-mapper-series-0 {
  fill: rgba(255,255,255, .3) !important;
}
