.remote {
  max-width:40em;
  margin:0 auto;
  text-align:center;
  padding:2em 0 0;
}
remote-control {
  display:inline-block;
  text-align:center;
  margin:0 auto;
  padding:2em 0;
  @include border-radius(1em);
  border:1px solid rgba(0,0,0,.1);
  border-top-color:rgba(0,0,0,.15);
  border-left-color:rgba(0,0,0,.15);
  @include box-shadow(inset 0 0 75px rgba(0,0,0,.05));
  position:relative;
  article.component {
    margin:4em 0;
  }
  h6 {
    font-size:1em;
    margin:.5em 0;
    color: #ccc;
    position:absolute;
    bottom:5%;
    left:0;
    width:100%;
    @include text-shadow(0 0 1px #fff,  0 2px 1px rgba(255,255,255,.2));
  }
}
h4 {
  margin:2em 0 0;
  color: #aaa;
  font-weight:normal;
  text-transform:uppercase;
  @include text-shadow(0 0 1px #fff,  0 2px 1px rgba(255,255,255,.2));
  font-size:1.2em;
  padding:0;
}

.range-input,
.topcoat-range-input,
.topcoat-range-input--vertical {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  -webkit-appearance: none;
}


/* 
  Declarations get duplicated because an invalid selector
  invalidates the entire declaration block
*/

.range-input::-webkit-slider-thumb,
.topcoat-range-input::-webkit-slider-thumb,
.topcoat-range-input--vertical::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
}

.range-input::-moz-range-thumb,
.topcoat-range-input::-moz-range-thumb,
.topcoat-range-input--vertical::-moz-range-thumb {
  cursor: pointer;
}

.topcoat-range-input,
.topcoat-range-input--vertical {
  border-radius: 6px;
  border: 1px solid #a5a8a8;
  background: #d3d7d7;
  height: 1rem;
  border-radius: 30px;
}

.topcoat-range-input::-moz-range-track,
.topcoat-range-input--vertical::-moz-range-track {
  border-radius: 6px;
  border: 1px solid #a5a8a8;
  background: #d3d7d7;
  height: 1rem;
  border-radius: 30px;
}

/* 
  Declarations get duplicated because an invalid selector
  invalidates the entire declaration block
*/

.topcoat-range-input::-webkit-slider-thumb,
.topcoat-range-input--vertical::-webkit-slider-thumb {
  height: 3rem;
  width: 2rem;
  border: 1px solid rgba(0,0,0,0.36);
  border-radius: 6px;
  /* Is base64 the way to go ? */
  /* I don't imagine simulating vertical stripes w/ gradients */ background:url("http://db.tt/q5LHtPKx") center center no-repeat #e5e9e8;
  background-size: 7px 18px;
  box-shadow: inset 0 1px white;
}

.topcoat-range-input::-moz-range-thumb,
.topcoat-range-input--vertical::-moz-range-thumb {
  height: 3rem;
  width: 2rem;
  border: 1px solid rgba(0,0,0,0.36);
  border-radius: 6px; background:url("http://db.tt/q5LHtPKx") center center no-repeat #e5e9e8;
  background-size: 7px 18px;
  box-shadow: inset 0 1px white;
}

.topcoat-range-input--vertical {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);  
  transform:rotate(90deg);  
}

/*
  Active state
*/

.topcoat-range-input:active::-webkit-slider-thumb,
.topcoat-range-input--vertical:active::-webkit-slider-thumb {
  border: 1px solid #0940fd;
  box-shadow: 0 0 0 2px #6fb5f1;
}

input[type=range]:active::-moz-range-thumb {
  border: 1px solid #0940fd;
  box-shadow: 0 0 0 2px #6fb5f1;
}
