body {
  margin:0 auto;
}

.content.container {
  margin:.5em auto 1em;
}

.lidar {
  background:transparent url('/images/lidar_bg_pattern.png') repeat 0 0;
  max-width:100%;
  text-align:center;
  @include box-shadow(inset 0 0 75px rgba(0,0,0,.2));
  padding:3em 0;
  border-top:1px solid rgba($heading-color, .5);
  border-bottom:1px solid rgba($heading-color, .5);
  outline:10px solid rgba(0,0,0,.05);
}

.remote {
  max-width:40em;
  margin:0 auto;
  text-align:center;
  padding:3em 0;
  i {
    font-size:3em;
    color:#ddd;
  }
  h3 {
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:1.25px;
    font-size:100%;
    color:tint(green, 50);
    margin:0 0 2em;
    &.disabled {
      color:tint(red, 50);
    }
  }
}

.stats {
  max-width:40em;
  text-align:center;
  margin:0 auto;
  padding:2em 0;
  article {
    margin-bottom:3em;
    i {
      font-size:3em;
      color:#ddd;
    }
    h3 {
      font-weight:normal;
      text-transform:uppercase;
      letter-spacing:1.25px;
      font-size:100%;
      color:$heading-color;
      margin:0 0 .5em;
    }
    aside {
      border:1px solid #e0e0e0;
      border-bottom-color:#ddd;
      border-bottom-width:4px;
      @include border-radius(5px);
      background:#eee;
      color:#666;
      margin:0 1.5em;
      padding:1em;
    }
  }
}

.glass {
  position: relative;
}

.glass:after{
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  // border-bottom: 0;
  -webkit-background-origin: border-box;
  -moz-background-origin: border;
  background-origin: border-box;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
  background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}

.frosty {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  height: 180px;
}

.frosty::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20width%3D%221920%22%20height%3D%221120%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cimage%20xlink%3Ahref%3D%22http%3A%2F%2Fplacekitten.com%2F1920%2F1120%22%20width%3D%221920%22%20height%3D%221120%22%20filter%3D%22url%28%23blur%29%22%2F%3E%3C%2Fsvg%3E"), url("http://placekitten.com/1920/1120");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  filter: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E#blur");
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.frosty .legacy-ie-fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";
}

// .glass h1 {
//   position: relative;
//   margin: 0;
//   color: #fff;
//   color: rgba(255, 255, 255, 0.3);
//   font-size: 180px;
//   font-weight: normal;
//   font-family: "Megrim", sans-serif;
//   line-height: 1;
//   text-align: center;
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
// }
