body {
  margin:0 auto;
}
.content.container {
  margin:2em auto;
}
.stats {
  max-width:62.5em;
  text-align:center;
  margin:0 auto;
}

// section .pure-u-1-2:nth-of-type(even) {
//   text-align:left;
// }
// section .pure-u-1-2:nth-of-type(even) .l-box {
//   padding-left:1em;
// }
// section .pure-u-1-2:nth-of-type(odd) {
//   text-align:right;
// }
// section .pure-u-1-2:nth-of-type(odd) .l-box {
//   padding-right:1em;
// }

