body {
  margin:0 auto;
}
header.header {
  text-align:center;
}
.pure-menu {
  padding:1em 0;
}
.content.container {
  margin:2em auto;
  /* max-width:62.5em; */
}
.stats {
  max-width:62.5em;
  text-align:center;
  margin:0 auto;
}
.lidar {
  padding:2em 0 0;
  background:transparent url('/images/lidar_bg_pattern.png') repeat 0 0;
  max-width:100%;
}
lidar-map {
  text-align:center;
  width:auto;
}
polygon.lidar-mapper-series0 {
  fill: rgba(255,255,255, .3) !important;
  stroke: rgba(255,255,255, .5) !important;
}

circle.lidar-mapper-series0 {
  fill: rgba(255,255,255, .3) !important;
  /* stroke: rgba(255,255,255, .5) !important; */
}

section .pure-u-1-2:nth-of-type(even) {
  text-align:left;
}
section .pure-u-1-2:nth-of-type(even) .l-box {
  padding-left:1em;
}
section .pure-u-1-2:nth-of-type(odd) {
  text-align:right;
}
section .pure-u-1-2:nth-of-type(odd) .l-box {
  padding-right:1em;
}

footer.footer {
  text-align:center;
}
